<h1>CSS Flex Box</h1>
<div class="hero">
  <p>Things are
    <span>awsome</span> here</p>
  <h1>Awsome
    <span>Co</span>
  </h1>
  <p>We
    <strong>Design</strong> and
    <strong>Develop Awsome </strong>stuff</p>
</div>

<div class="sales-points">
  <div class="sales-point">
    <h2>Sales Point 1</h2>
    <p>Maecenas id voluptat tellus. Praeseant at rhoncus ante, non solicitudin nist.</p>
  </div>
  <div class="sales-point">
    <h2>Sales Point 2</h2>
    <p>Maecenas id voluptat tellus. Praeseant at rhoncus ante, non solicitudin nist.</p>
  </div>
  <div class="sales-point">
    <h2>Sales Point 3</h2>
    <p>Maecenas id voluptat tellus. Praeseant at rhoncus ante, non solicitudin nist.</p>
  </div>
</div>
<div class="cta">
  <div class="cta-text">
    <h2>Call to <span>Action</span></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      Sad lacus leo, auctor ut odio non, Maecenas id voluptat tellus. Praeseant at rhoncus ante, non solicitudin nist.</p>
    <a href="" class="btn">Buy Now</a>
  </div>
</div>