<nav>
  <ul>
    <li>
      <a routerLink="" title="Users" [class.activated]="currentUrl == '/'">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li>
      <a routerLink="posts" title="Posts" [class.activated]="currentUrl == '/posts'">
        <i class="material-icons">message</i>
      </a>
    </li>
    <li>
      <a routerLink="shapes" title="Shapes" [class.activated]="currentUrl == '/shapes'">
        <i class="material-icons">donut_large</i>
      </a>
    </li>
    <li>
      <a routerLink="flex-box" title="Flex Box" [class.activated]="currentUrl == '/flex-box'">
        <i class="material-icons">aspect_ratio</i>
      </a>
    </li>
    <li>
      <a routerLink="grid" title="Grid" [class.activated]="currentUrl == '/grid'">
        <i class="material-icons">view_quilt</i>
      </a>
    </li>
    <li>
      <a routerLink="algos" title="Algorithms" [class.activated]="currentUrl == '/algos'">
        <i class="material-icons">build</i>
      </a>
    </li>
  </ul>
</nav>